<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Listing</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../js/jquery-1.9.1.min.js"></script>
</head>

<style type="text/css">
	  	.form-inline{
	  		position:absolute;
	  		right:0px;
	  	}
	  	#add_button{
	  		position:relative;
	  		left:200px;
	  		top:5px;
	  	}
</style>

<script type="text/javascript">
$(document).ready(function(){

	$("#condition").click(function(){
		var expiry = $("expiry").val();
		console.log(expiry)
			loadData()
	})
	loadData();

})

//Function to load the data from database
function loadData(){
  $.ajax({
    type:"GET",
    url:"/getAllList.do",
      success: function(result){
        console.log(result)
        var innerHTML= "";
        for(var i=0;i<result.length;i++){
						var amount = result[i].amount;
			  		var item = result[i].item;
			  		var category = result[i].category;
						var expiry_date = result[i].expiry_date;
						var putin_date = result[i].putin_date;
			  		var notes = result[i].notes;
			  		var id = result[i].id;

						var today = new Date();
						var ex = new Date(expiry_date);
						condition = (ex.getDate() - today.getDate()) + " Days"

						if(i%2==1){
							innerHTML += '<tr class="table-info">'
						}else {
							innerHTML += '<tr>'
						}

						innerHTML += '<td>'+condition+'</td><td>'+expiry_date+'</td><td>'+item+'</td><td>'+amount+'</td><td>'+category+'</td><td>'+notes+'</td><td>'+putin_date+'</td><td><button id="bt-'+id+'" type="button" onclick="click_delete('+id+')">Delete</button></td></tr>';
			  	}
				$("#main_content").html(innerHTML)
        }
  })
}
</script>

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a id="user" class="navbar-brand" href="#"></a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="./add_new.html">ADD NEW</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./listing.html">LISTING</a>
    </li>
  </ul>
</nav>

<table class="table">
   <thead class="thead-light">
     <tr>
       <th>Condition</th>
       <th>Expiry Date</th>
       <th>Item</th>
       <th>Amount</th>
       <th>Category</th>
       <th>Notes</th>
			 <th>Put In Date</th>
       <th>Action</th>
     </tr>
   </thead>
   <tbody id="main_content">
        <tr>
   	     <td><input type="button" class="form-control" id="condition" value="2 Days!" style="background-color:red"></td>
   	     <td>2020-1-20</td>
	     <td>Apple</td>
	     <td>4</td>
	     <td>Fruit</td>
	     <td>healthy food</td>
	     <td><input type="button" value="Delete" id="delete_button" class="btn btn-primary"></td>
   		</tr>

   		<tr class="table-info">
   	   <td><input type="button" class="form-control" id="condition" value="Good" style="background-color:green"></td>
   	   <td>2020-1-25</td>
	     <td>Banana</td>
	     <td>4</td>
	     <td>Fruit</td>
	     <td>healthy food</td>
	     <td><input type="button" value="Delete" id="delete_button" class="btn btn-primary"></td>
   		</tr>

   </tbody>
</table>

</body>
</html>
